@(createdByYou: List[Project],joined: List[Project])
@main("You"){

	<h1>Your page</h1>
	<p><a href="@routes.Projects.newProject()">Create a new Project</a>
	
	<div class="span3">
	@if(createdByYou.isEmpty()) {
  		<p>Nothing to display</p>
	} else {
  		@for(p <- createdByYou){
  			<div class="span3 well">
  				<h3>@p.name</h3>
  				<p>
  				<span class="badge badge-info">@(p.getMembers())</span><span> users</span>
  				<div>here goes task number</div>
  				</p>
  			</div>
  		}
	  		
  		
	}
	</div>
	
	<div class="span3">
	@if(joined.isEmpty()) {
  		<p>Nothing to display</p>
	} else {
  		@for(p <- joined){
  			<div class="span3 well">
  				<h3>@p.name</h3>
  				<p>
  				<span class="badge badge-info">@(p.getMembers())</span><span> users</span>
  				<div>here goes task number</div>
  				</p>
  			</div>
  		}
	  		
  		
	}
	</div>
	
	
}